{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<h1>Welcome to Nicomak Thanking Center</h1>
<h2>Here at Nicomak we take seriously the fact of thanking our employees.That's why we created this Thanking Center.</h2>
<div id="presentation">
    <p>If you want to see all the thanks we have you can by clicking <a href={{path('app_thanks')}}>here</a>.
    If you want to <a href={{path('app_thanks')}}>edit</a>, <a href={{path('app_thanks')}}>delete</a> or <a href={{path('app_create')}}>create</a> a thank for an employee
    you will first have to <a href={{path('app_login')}}>login</a> in case you have an account otherwise you can <a href={{path('app_register')}}>create an account</a> for free!
    </p>
    <img src={{asset("images/nicomak-logo.png")}} alt="Nicomak.eu logo" onclick=location.href="https://nicomak.eu/">
</div>

{% endblock %}
