{% extends 'base.html.twig' %}

{% block title %}Nicomak - Thanks{% endblock %}

{% block body %}
    {{ form(form) }}
    <div id="thanks">
        {% for thank in thanks %}
            {# <p>{{thank.reason}}</p> #}
            <div class="thank">
                <p class="from">
                    {% if thank.FromUser.profile is not null %}
                        <img src="{{asset('images/' ~ thank.FromUser.profile)}}" alt="{{thank.FromUser.email|split('@')[0]}}'s profile picture from Nicomak.eu" draggable="false">
                    {% else %}
                    <img src="{{asset('images/user.png')}}" alt="Default user profile picture from Nicomak.eu">
                    {% endif %}
                    
                    {{thank.FromUser.email}}
                </p>

                <p class="custom">
                    has thanked
                </p>

                <p class="to">
                    {% if thank.ToUser.profile is not null %}
                        <img src="{{asset('images/' ~ thank.ToUser.profile)}}" alt="{{thank.ToUser.email|split('@')[0]}}'s profile picture from Nicomak.eu" draggable="false">
                    {% else %}
                    <img src="{{asset('images/user.png')}}" alt="Default user profile picture from Nicomak.eu" draggable="false">
                    {% endif %}
                    {{thank.ToUser.email}}
                </p>
                <p class="message">{{thank.reason}}</p>
                <p class="date">{{thank.ThankedAt|date("m/d/Y H:i:s")}}</p>
                {% if app.user %}
                    {% set isIdPresent = false %}
                
                    {% for userThanks in app.user.Thanks %}
                        {% if userThanks.id == thank.Id %}
                            {% set isIdPresent = true %}
                        {% endif %}
                    {% endfor %}
                    {% if isIdPresent %}
                        <a href={{path("app_edit", {'id' : thank.Id}) }}>Edit</a>
                        <a href={{path("app_delete", {'id': thank.Id})}}>Delete</a>
                    {% endif %}
                {% endif %}
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
